<div class="nav">
  <h3 class="nav-title">카테고리</h3>
  <a href="#" class="nav-close">
    <span class="hidden">닫기</span>
  </a>
  <ul>
    <li
      class="nav-home {% if page.current == 'home' %} nav-current{% endif %}"
      role="presentation"
    >
      <a href="{{ site.baseurl }}">Home</a>
    </li>
    <li
      class="nav-about {% if page.current == 'about' %} nav-current{% endif %}"
      role="presentation"
    >
      <a href="{{ site.baseurl }}about">About Me</a>
    </li>
    <li
      class="nav-fiction {% if page.url contains 'boj' %} nav-current{% endif %}"
      role="presentation"
    >
      <a href="{{ site.baseurl }}tag/BOJ">BOJ</a>
    </li>
    <li
      class="nav-fiction {% if page.url contains 'leetcode' %} nav-current{% endif %}"
      role="presentation"
    >
      <a href="{{ site.baseurl }}tag/LeetCode">LeetCode</a>
    </li>
    <li
      class="nav-fiction {% if page.url contains 'programmers' %} nav-current{% endif %}"
      role="presentation"
    >
      <a href="{{ site.baseurl }}tag/Programmers">Programmers</a>
    </li>
    <li
      class="nav-fiction {% if page.url contains '알고리즘 문제해결 전략' %} nav-current{% endif %}"
      role="presentation"
    >
      <a href="{{ site.baseurl }}tag/알고리즘 문제해결 전략">알고리즘 문제해결 전략</a>
    </li>
    <li
      class="nav-fiction {% if page.url contains 'javascript' %} nav-current{% endif %}"
      role="presentation"
    >
      <a href="{{ site.baseurl }}tag/javascript">Javascript</a>
    </li>
    <li
      class="nav-fiction {% if page.url contains 'typescript' %} nav-current{% endif %}"
      role="presentation"
    >
      <a href="{{ site.baseurl }}tag/typescript">Typescript</a>
    </li>
    <li
      class="nav-fiction {% if page.url contains 'vuejs' %} nav-current{% endif %}"
      role="presentation"
    >
      <a href="{{ site.baseurl }}tag/vuejs">Vue.js</a>
    </li>
    <li
      class="nav-fiction {% if page.url contains 'reactjs' %} nav-current{% endif %}"
      role="presentation"
    >
      <a href="{{ site.baseurl }}tag/reactjs">React.js</a>
    </li>
    <li
      class="nav-fiction {% if page.url contains 'nodejs' %} nav-current{% endif %}"
      role="presentation"
    >
      <a href="{{ site.baseurl }}tag/nodejs">Node.js</a>
    </li>
    <li
      class="nav-fiction {% if page.url contains 'aws' %} nav-current{% endif %}"
      role="presentation"
    >
      <a href="{{ site.baseurl }}tag/aws">AWS</a>
    </li>
    <li
      class="nav-fiction {% if page.url contains 'book-review' %} nav-current{% endif %}"
      role="presentation"
    >
      <a href="{{ site.baseurl }}tag/book-review">서평</a>
    </li>
  </ul>
  <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">구독하기</a>
</div>
<span class="nav-cover"></span>
